//1024 Laptop Settings

.container {
	width: $desktop-width;
	margin: 0 auto;
    &__header {
	background-color: $header-bg;
	margin: 0;
	padding: 0;
	position: relative;
	}

	&__logo {
		&__left {
		display: block;
		width: 30%;
		margin: 0 auto 0 20px;
		position: relative;
		top: 10px;
		left: 70px;
		}
		&__right {
		display: block;
		width: 30%;
		margin: 0 20px 0 auto;
		position: relative;
		bottom: 10px;
		right: 70px;
		}
	}
	&__photos {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	}
	&__box {
	width: 30%;
	padding: 5px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 20px;
	border: $borderbox;
	border-radius: 3px;
	}
	&__image {
	width: 100%;
	}
}