@import url('https://fonts.googleapis.com/css?family=PT+Mono|Roboto');

$whitebody: #fff;
$desktop-width: 1024px;
$tablet-width: 768px;
$cellphone-width: 300px;
$header-bg: #DDDDDD;
$borderbox: 2px solid #e1e1e1;

@import "./scss/desktopSettings.scss";
@import "./scss/tabletSettings";
@import "./scss/mobileSettings.scss";



* {
	box-sizing: border-box;
	font-family: 'PT Mono', monospace;
}

h1, h2 {
	color: #007C4C;
}

body {
	background-color: $whitebody;
}

p{
	font-family: 'Roboto', sans-serif;
}