@import url('https://fonts.googleapis.com/css?family=PT+Mono|Roboto');

@import "./variables.scss";

@import "./desktopSettings.scss";
@import "./tabletSettings";
@import "./mobileSettings.scss";



* {
	box-sizing: border-box;
	font-family: 'PT Mono', monospace;
}

h1, h2 {
	color: #007C4C;
}

body {
	background-color: $whitebody;
}

p{
	font-family: 'Roboto', sans-serif;
}