// Mobile Phone Settings

@media screen and (max-width: $tablet-width) {
	.container {
	width: $cellphone-width;
	&__header {
		background-color: #DDDDDD;
		margin: 0;
		padding: 0;
		position: static;
	}
	&__logo {
		&__left,&__right {
		display: block;
		margin: 0 auto;
		position: static;
		width: 80%;
		padding: 10px;
		margin: 20px auto;
	}	}
	&__box {
		width: 90%;
	}
}
	
}